<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/fonts.css" />
<link rel="stylesheet" href="/css/form.css" />
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/single-drink.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
/>
<script type="module" src="/js/client.mjs"></script>
<% if (pageTitle === 'Gallery') { %>
<script type="module" src="/js/gallery.mjs"></script>
<% } %> <% if (pageTitle === 'Admin') { %>
<script type="module" src="/js/admin.mjs"></script>
<% } %>
<title><%=siteName%> | <%=pageTitle%></title>
