<p class="home-title">Discover your new favorite <span style="color: #f76c6c;">cocktail</span></p>
<p class="home-subtitle">mixr up, pour, sip, enjoy.</p>
<a class="browse-recipies" href="./gallery.html">Browse Recipies</a>