<nav class="primary">
  <!--Hamburger Menu-->
  <div class="hamburger-menu">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>
  <ul class="nav-list">
    <li class="nav-items"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-items"><a href="/gallery" class="nav-link">Recipe Gallery</a></li>
    <li class="nav-items"><a href="/team" class="nav-link">Our Team</a></li>
    <li class="nav-items">
      <a class="login nav-link" href="/login">Login/Register</a>
    </li>
  </ul>
</nav>
