@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: var(--ff1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff2);
}
/* Navigation */
nav.primary a {
  font-size: 1.25rem;
  color: var(--clr4);
  text-transform: uppercase;
}

/* Main Page Title */
.home-title {
  font-size: 4.25rem;
  color: var(--clr4);
}

.cocktail {
  color: var(--clr);
}

/* Main Page Subtitle */
.home-subtitle {
  font-size: 1.5rem;
  color: var(--clr4);
}

/* Main Page Recipie Link */
.browse-recipies {
  font-weight: 200;
  font-size: 1.5rem;
  color: var(--clr4);
}

/* Footer */
footer {
  font-weight: 200;
  font-size: 1.75rem;
  color: var(--clr4);
  text-transform: uppercase;
}

/* Media Queries */
@media screen and (max-width: 651px) {
  .home-title {
    font-size: 3.25rem;
  }

  .home-subtitle {
    font-size: 1.75rem;
  }
}
