@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

nav.primary a {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 4.25vw, 1.5rem);
  color: whitesmoke;
  text-transform: uppercase;
}

.home-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 6.5vw, 5.25rem);

  color: whitesmoke;
}

.home-subtitle {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 200;
   font-size: clamp(1rem, 3.25vw, 2.5rem);
  color: whitesmoke;
}

.browse-recipies {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 4.25vw, 2.5rem);
  color: whitesmoke;
}

footer {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 4.25vw, 1.5rem);
  color: whitesmoke;
  text-transform: uppercase;
}

/* Media Queries */
@media screen and (max-width: 651px) {
  .home-title {
    font-size: 3rem;
  }

  .home-subtitle {
    font-size: 1.75rem;
  }
}