form {
  background-position: top center;
  background-repeat: no-repeat;

  margin-top: 5rem;
  height: 565px;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}

form label {
  position: relative;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

form input {
  border: none;
  appearance: none;
  background: var(--clr2);
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;

  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: linear-gradient(90deg, var(--clr), var(--clr)) center bottom/0 0.15rem no-repeat,
    linear-gradient(90deg, var(--clr3), var(--clr3)) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, var(--clr2), var(--clr2)) left bottom/100% no-repeat;

  transition: background-size 0.3s ease;
}
form input:focus,
form input:valid {
  background: var(--clr2);
  transition: border-color 0.3s ease;
}

form input:invalid {
  background-color: var(--clr-error);
}
form .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);

  transform: translateY(-50%);

  color: var(--clr-txt);
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

form input:valid + .placeholder,
form input:focus + .placeholder {
  top: 10px;
  font-size: 0.7rem;
  color: var(--clr);
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.form-btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', open-sans;
  font-size: inherit;
  border: 0;
  background: none;
  padding: 0.75em 1.5em;
  margin: 1rem;

  border: 2px solid var(--clr);
  background: var(--clr);
  color: var(--clr4);
  outline: 2px solid var(--clr2);
  transition: outline-offset 200ms ease;
}

.form-btn:hover,
.form-btn:focus {
  outline: 2px solid var(--clr2);
  outline-offset: -6px;
}

form a {
  color: var(--clr2);
}

.login-form {
  background-image: url(../images/forms/martini-glass.svg);
}

.register-form {
  background-image: url(../images/forms/beer-mug.svg);
}

.sub-form {
  background-image: url(../images/forms/wine-glass.svg);
}

.reg-sub-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-shrink: 2;
  height: 90vh;
}

.login-title {
  font-family: var(--ff1);
  font-weight: 500;
  font-size: 1.75rem;
  text-align: center;
  width: 400px;
}

.message {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 4rem;
  padding-top: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.search-label {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  margin-top: 1rem;
}

.search-button,
.search-input {
  background-repeat: no-repeat;
  height: 2rem;
  width: 8rem;
  border: none;
  background-color: var(--clr2);
  border-radius: 0px;
}

.search-button {
  background-image: url(../images/forms/search-button.svg);
  width: 2rem;
  cursor: pointer;
}

.search-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
/* overwtie for the above focus,valid,invalid */
.search-form input:focus,
.search-form input:valid {
  background-color: var(--clr2);
  border: none;
  transition: border-color 0.3s ease;
}

@media screen and (max-width: 639px) {
  .login-form {
    background-image: url(../images/forms/shot-glass.svg);
  }
}

@media screen and (max-width: 499px) {
  .login-form {
    background-image: url(../images/forms/shot-glass2.svg);
  }
}

@media screen and (max-width: 389px) {
  .login-form {
    background-image: url(../images/forms/shot-glass3.svg);
    margin-top: 6rem;
  }
}

@media screen and (max-width: 799px) {
  .register-form {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
  }

  .sub-form {
    background-image: none;
    margin-top: 0px;
    height: 300px;
  }

  .reg-sub-container {
    background-image: url(../images/forms/sub-reg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin-top: 6rem;
  }

  .login-title {
    width: auto;
  }
}

.success {
  position: fixed;
  font-size: 2rem;
  font-family: var(-ff1);

  color: white;
  background-color: hsla(80, 83%, 36%, 50%);
}

.error {
  position: fixed;
  margin: auto;
  font-size: 2rem;
  font-family: var(-ff1);

  color: white;
  background-color: rgba(255, 22, 22, 0.8);
}
