/* Home Page CSS */

/* Header */
.home-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 71px 1fr 29px;
}

.home-header {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;

  max-width: 40rem;
  padding: 2rem;
  word-spacing: 0.15rem;
  text-align: left;
}

.home-title {
  padding-bottom: 1rem;
}

.home-subtitle {
  padding-bottom: 5vh;
}

.browse-recipies {
  background-color: #f76c6c;

  text-decoration: none;

  width: max-content;

  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.5rem hsl(0, 39%, 75%);
}


