.single-page-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--clr2);
}

.single-title {
  font-family: 'Roboto', sans-serif;
  font-size: 3.25rem;
  font-weight: 800;
  text-align: center;
  justify-content: center;
}

.single-drink {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 2rem;

  background-color: var(--clr4);
  width: 35rem;
  border-radius: 16px;
  box-shadow: 6px 6px 29px -12px rgba(0, 0, 0, 0.63);
}

.single-image img {
  margin: 0;
  overflow: hidden;
  width: 35rem;
  height: 35rem;
  box-shadow: 6px 6px 29px -12px rgba(0, 0, 0, 0.63);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.single-name {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

.column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.baseAlcohol {
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
}

.ingredients {
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
}

.glassType {
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
}

.recipe {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: column wrap;
}

li {
  list-style-type: disc;
}

h3 {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.single-drink li {
  max-width: 25ch;
}
