/* Color Schemes */
:root {
  --clr: hsl(0, 90%, 70%);
  --clr2: hsl(325, 30%, 90%);
  --clr3: hsla(0, 0%, 27%);
  --clr4: white;
  --clr5: #8cc0dd;
  --clr-txt: hsl(0, 0%, 50%);
  --clr-error: hsla(0, 65%, 51%, 0.6);
}

/* Body color for overslow */
body {
  background-color: var(--clr2);
}

/* Header */
.home-hero-image {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 100vh;
  height: 100vh;
  width: 100vw;

  object-fit: cover;
  z-index: -1;
}

.blur-hero-image {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 100vh;
  height: 100vh;
  width: 100vw;

  object-fit: cover;
  z-index: -1;

  filter: blur(4px);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 71px 1fr 29px;
  min-height: 100vh;
  /* flex-direction: column;
  align-content: center;
  justify-content: center; */
}

.home-header {
  display: flex;
  flex-flow: column wrap;
  align-self: center;

  width: 40vw;
  padding: 2rem;
  word-spacing: 0.15rem;
  text-align: left;
}

.home-title {
  padding-bottom: 1rem;
}

.home-subtitle {
  padding-bottom: 5vh;
}

a.browse-recipies {
  background-color: #f76c6c;

  text-decoration: none;

  width: max-content;

  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.5rem hsl(0, 39%, 75%);
}

a:hover {
  background-color: #9e4646;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0px;

  display: flex;
  justify-content: center;

  min-width: 100vw;

  margin-top: 1rem;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  .home-header {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(68, 68, 68, 0.8);
    padding: 2rem;
    min-width: 100vw;
  }
}

/* team page starts here */
.team-profile {
  background-color: lightcoral;
}
.team-profile .team {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
}

.team-profile .member {
  text-align: center;
}

.team-profile .member .card {
  padding: 30px;
  background-color: #fff;
  margin: 30px;
  max-width: 300px;
}

.team-profile .profile-image {
  max-width: 170px;
  border-radius: 50%;
}

.team-profile .name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 8px;
  color: #f76c6c;
}

.team-profile .role {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8cc0dd;
}

.team-profile .bio {
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
}

.team-profile .social-links {
  font-size: 24px;
}
.team-profile .social-links a {
  color: #f76c6c;
  margin: 0 10px;
}
.team-profile .social-links a:hover {
  color: #f8e276;
  background-color: #fff;
}
/* GALLERY STYLING */
.gallery-hero {
  display: flex;
  flex-flow: column wrap;
  background-color: #f76c6c;
  border-radius: 100px;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 3rem;
}

.gallery-title {
  font-size: 3.25rem;
  /* color: white; */
}

.generator,
.generator-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin: auto;
}

.generator-subtitle {
  padding: 1rem;
}

.gallery-message {
  justify-content: center;
  padding: 0.5rem;
}

.drink {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.drink-filter ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.generator-button {
  margin: 2rem;
}

.drink-button {
  border: solid transparent;
  background-color: var(--clr5);
  border-radius: 16px;
  padding: 5px;
  text-decoration: solid;
  color: var(--clr3);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.drink-button:hover {
  color: white;
}

.recipe-card {
  background-color: white;
  box-shadow: 6px 6px 29px -12px rgba(0, 0, 0, 0.63);
  border-radius: 16px;
  width: 20rem;
  min-height: 30rem;
  margin: 2rem;
}
.recipe-card figure {
  width: 100%;
  margin: 0;
  height: 13rem;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-data {
  padding: 1rem 1rem;
}
.alcohol-type {
  background-color: #f76c6c;
  color: white;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  width: fit-content;
}

.drink-name {
  font-weight: 700;
  font-size: 2.25rem;
  padding-top: 1.5rem;
}

.star-rating {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  padding-top: 1.5rem;
}
/* .rating {
  padding-left: 1rem;
} */

.drinks-nav {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: auto;
}

.drinks-nav li {
  display: inline-flex;
  align-items: center;
  margin: 0.25rem;
  padding: 0px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

select#entries {
  margin-left: 0.25rem;
  margin-top: 0.1rem;
  font-size: 1.15rem;
  border-radius: 100px;
  padding: 4px;
}

.next,
.prev {
  margin-top: 0.1rem;
  padding: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 1.5rem;
  color: var(--clr);
}
