/* Navigation */
nav.primary {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: rgba(68, 68, 68, 0.8);
  border-top-left-radius:30px;
  border-bottom-left-radius: 30px;
  background-image: url(../images/logo/mixrcocktaillogo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 4.25rem;
}

nav.primary li {
  display: inline-block;
  list-style-type: none;
  padding: 1.5rem;
}

nav.primary a {
  text-decoration: none;
  margin: 0rem 2rem 0 0;
}

a.login {
  background-color: #f76c6c;
  padding: 0.75rem;
  padding: 0rem, 1rem, 0rem, 1rem;
}

.home-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-header {
  display: flex;
  flex-flow: column wrap;
  margin-top: 25vh;
  margin-left: 5vw;
  max-width: 40vw;
  word-spacing: 0.15rem;
  text-align: left;
}

.home-title {
  padding-bottom: 1rem;
}

.home-subtitle {
  padding-bottom: 5vh;
}

a.browse-recipies {
  background-color: #f76c6c;
  text-decoration: none;
  width: max-content;
  padding: 0.3rem;
}

a:hover {
  background-color: #9E4646;
}

/* Media Queries */
@media screen and (max-width: 1100px) {
  nav.primary {
    background-image: none;
  }
}