/* team page starts here */
body {
  background-image: url(../images/gallery/home-page-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

.team {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.member {
  text-align: center;
}

.member .card {
  padding: 30px;
  background-color: #fff;
  margin: 30px;
  max-width: 300px;
  height: 30rem;
}

.profile-image {
  max-width: 170px;
  border-radius: 50%;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 8px;
  color: #f76c6c;
}

.role {
  font-family: var(--ff1);
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8cc0dd;
}

.bio, .fav-drink {
  font-family: var(--ff1);
  padding: 10px;
}

.social-links {
  font-size: 24px;
}
.social-links a {
  color: #f76c6c;
}

.social-links a:hover {
  color: #f8e276;
  background-color: #fff;
}