<div class="error-container">
  <img class="error-image" src="/images/404/404-notext.png" alt="error message" />
  <h1 class="error-title">Error <%=status%> - We're really sorry</h1>
  <h2 class="error-message"><%=message%></h2>
  <a class="error-button" href="/">Return Home</a>
</div>
