<div class="generator">
  <div class="generator-text">
    <h1 class="login-title">Thirsty but don't know where to start?</h1>
    <p class="message">Our drink generator will help you decide!</p>
    <div class="generator-button">
      <a href="/gallery?random=true" class="drink-button">Fetch me a Drink!!</a>
    </div>
    <form class="search-form" method="" action="">
      <p class="search-title">Looking for something specific?</p>
      <label class="search-label" for="search">
        <input
          class="search-input"
          type="search-box"
          name="search"
          id="search"
          placeholder="Search..."
        />
        <button class="search-button"></button>
      </label>
    </form>
  </div>
  <div class="image">
    <img src="/images/gallery/pexels-charlotte-may-5947019.jpg" alt="pink drink" />
  </div>
</div>

<nav class="drinks-nav">
  <ul>
    <li><button class="prev">Previous Page</button></li>
    <li><span class="page"></span></li>
    <li>
      <label for="entries">Drinks per page:</label>
      <select name="entries" id="entries" value="12">
        <option value="6">6</option>
        <option value="12" selected>12</option>
        <option value="24">24</option>
        <option value="48">48</option>
        <option value="96">96</option>
      </select>
    </li>
    <li><button class="next">Next Page</button></li>
  </ul>
</nav>
<div class="drink">
  <!--All gallery.mjs data goes here-->
</div>
