<div class="generator">
  <div class="generator-text">
    <h2>Thirsty but don't know where to start?</h2>
    <p>Our drink generator will help you decide!</p>
    <div class="generator-button"><button class="drink-button">Fetch me a Drink!!</button></div>
  </div>
  <div class="image">
    <img src="/images/gallery/pexels-charlotte-may-5947019.jpg" alt="pink drink" />
  </div>
  <div class=drink>
    <!--All gallery.mjs data goes here-->
  </div>
</div>
<script src="/js/gallery.mjs"></script>
