<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <img class="home-hero-image" src="./images/gallery/home-page-hero.jpg" alt="Whiskey being poured into a glass">
  <div class="wrapper">
  <%- include('../partials/nav'); %>
    <header class="home-header">
      <%- include('../partials/header'); %>
    </header>
    <footer><%- include('../partials/footer'); %></footer>
  </div>
</body>
</html>
