<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="background">
      <div class="home-wrapper"><%- include('../partials/nav'); %></div>
      <div class="home-header"><%-include('../partials/header'); %></div>
      <footer><%- include('../partials/footer'); %></footer>
    </div>
  </body>
</html>
