<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="home-background">
    <div class="wrapper">
      <%- include('../partials/nav'); %>
      <header class="home-header">
        <%- include('../partials/header'); %>
      </header>
      <footer><%- include('../partials/footer'); %></footer>
    </div>
  </div>
</body>
</html>
