<form class="register-form" method="POST" action="/register">
  <label for="name">
    <input type="text" name="name" id="name" required />
    <span class="placeholder">Enter Name</span>
  </label>
  <label for="email">
    <input type="email" name="email" id="email" required />
    <span class="placeholder">Enter Email</span>
  </label>
  <label for="password">
    <input
      type="password"
      name="password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      id="password"
      value=""
      required
    />
    <span class="placeholder">Enter password</span>
  </label>
  <label for="conf-psw">
    <input
      type="password"
      name="conf-psw"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      id="conf-psw"
      value=""
      required
    />
    <span class="placeholder">Enter password</span>
  </label>
  <button class="form-btn" type="submit">Register</button>
  <p class="message">Already registered? <a href="/login">Sign In</a></p>
</form>
