<form class="form" action="/subscribe" method="POST">
  <label for="name">
    <input type="text" name="name" id="name" required />
    <span class="placeholder">Enter Name</span>
  </label>
  <label for="email">
    <input type="email" name="email" id="email" required />
    <span class="placeholder">Enter Email</span>
  </label>
  <button class="form-btn" type="submit">Subscribe</button>
</form>
