<div class="team-profile">
  <div class="row team">
    <div class="member">
      <div class="card">
        <img
          src="https://vmsseaglescall.org/wp-content/uploads/2019/10/Screen-Shot-2019-10-25-at-11.22.36-AM.png"
          alt="a person"
          class="profile-image"
        />
        <h2 class="name">Erica Trinh</h2>
        <p class="role">Designer</p>
        <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel temporibus saepe magni
          consequatur odit, sed aliquid maiores dolore laudantium molestiae expedita, suscipit
          libero ipsa.
        </p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="card">
        <img
          src="https://vmsseaglescall.org/wp-content/uploads/2019/10/Screen-Shot-2019-10-25-at-11.22.36-AM.png"
          alt="a person"
          class="profile-image"
        />
        <h2 class="name">Kyle Welsh</h2>
        <p class="role">Front End</p>
        <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel temporibus saepe magni
          consequatur odit, sed aliquid maiores dolore laudantium molestiae expedita, suscipit
          libero ipsa.
        </p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="card">
        <img
          src="https://vmsseaglescall.org/wp-content/uploads/2019/10/Screen-Shot-2019-10-25-at-11.22.36-AM.png"
          alt="a person"
          class="profile-image"
        />
        <h2 class="name">Shivani Patel</h2>
        <p class="role">Back End</p>
        <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel temporibus saepe magni
          consequatur odit, sed aliquid maiores dolore laudantium molestiae expedita, suscipit
          libero ipsa.
        </p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="card">
        <img
          src="https://vmsseaglescall.org/wp-content/uploads/2019/10/Screen-Shot-2019-10-25-at-11.22.36-AM.png"
          alt="a person"
          class="profile-image"
        />
        <h2 class="name">Vitaly Gins</h2>
        <p class="role">The real MVP</p>
        <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel temporibus saepe magni
          consequatur odit, sed aliquid maiores dolore laudantium molestiae expedita, suscipit
          libero ipsa.
        </p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
