<div class="team-profile">
  <div class="row team">
    <div class="member">
      <div class="card">
       <img src="" alt="a person" class="profile-image"/>
       <h2 class="name"> </h2>
       <p class="role"> </p>
       <p class="bio"> </p>
       <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
       </div>
    </div>
  </div>
<script src="/js/team.mjs" type="module"></script>