<div class="team-profile">
  <div class="row team">
    <div class="member">
      <div class="card">
        <img
          src="https://vmsseaglescall.org/wp-content/uploads/2019/10/Screen-Shot-2019-10-25-at-11.22.36-AM.png"
          alt="a person"
          class="profile-image"/>
          <h2 class="name">Erica Trinh</h2>
          <p class="role">Designer</p>
          <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel temporibus saepe magni
          consequatur odit, sed aliquid maiores dolore laudantium molestiae expedita, suscipit
          libero ipsa.
          </p>
          <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="card">
        <img
          src="https://vmsseaglescall.org/wp-content/uploads/2019/10/Screen-Shot-2019-10-25-at-11.22.36-AM.png"
          alt="a person"
          class="profile-image"
        />
        <h2 class="name">Kyle Welsh</h2>
        <p class="role">Front End</p>
        <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel temporibus saepe magni
          consequatur odit, sed aliquid maiores dolore laudantium molestiae expedita, suscipit
          libero ipsa.
        </p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="card">
        <img
          src="/public/images/avatars/shivani-img.jpg"
          alt="Shivani's Profile Pic"
          class="profile-image"
        />
        <h2 class="name">Shivani Patel</h2>
        <p class="role">Back End</p>
        <p class="bio">
          Being a back-end developer I make sure to build an application around the front end and provide all the support that it needs, and make sure taht the site or app always function properly.Moreover we also supports our front end team to develop and built database architecture.
        </p>
        <div class="social-links">
          <a href="https://github.com/Shi-stack"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/shivanipatel90ec/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="card">
        <img
          src="https://vmsseaglescall.org/wp-content/uploads/2019/10/Screen-Shot-2019-10-25-at-11.22.36-AM.png"
          alt="a person"
          class="profile-image"
        />
        <h2 class="name">Vitaly Gins</h2>
        <p class="role">The real MVP</p>
        <p class="bio">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel temporibus saepe magni
          consequatur odit, sed aliquid maiores dolore laudantium molestiae expedita, suscipit
          libero ipsa.
        </p>
        <div class="social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/public/js/team.js"></script>